# Compiled class files
*.class

# Log files
*.log

# iml files
*.iml

# IntelliJ IDEA files
.idea/

# Eclipse files
.project
.classpath
.settings/

# Maven files
target/

# Gradle files
.gradle/
build/
